{% extends '_layouts/cp' %}

{# ========================================================================== #}
{# Includes #}
{# ========================================================================== #}
{% import '_includes/forms.twig' as forms %}

{# ========================================================================== #}
{# Props #}
{# ========================================================================== #}
{% set title = "settings.content-title"|t('auto-translator') %}
{% set selectedSubnavItem = 'content' %}
{% set fullPageForm = true %}

{% set iterableFields = [
	"craft\\fields\\Matrix",
	"benf\\neo\\Field",
] %}

{# ========================================================================== #}
{# Macro #}
{# ========================================================================== #}
{% macro translatableField(field, info, settings) %}
	<td>
		{{ forms.checkboxField({
			label: "#{field.name}",
			id: "#{info.handle}-#{ field.handle}",
			name: "settings[translate][#{info.handle }][]",
			value: field.handle,
			checked: field.handle in settings.translate[info.handle] ?? false,
			errors: settings.getErrors('translate')
		}) }}
	</td>

	<td>
		{{ field.handle }}
	</td>
{% endmacro %}

{# ========================================================================== #}
{# Template #}
{# ========================================================================== #}
{% block actionButton %}
    <input type="submit" class="btn submit" value="{{ 'settings.btn-save'|t('auto-translator') }}">
{% endblock %}

{% block content %}
    <input type="hidden" name="action" value="plugins/save-plugin-settings">
    <input type="hidden" name="pluginHandle" value="auto-translator">

	<h2>{{ 'settings.content-fields'| t('auto-translator') }}</h2>

	{% for elementGroup, elementGroupData in fieldInfo %}
		<div>
			<h1>{{ elementGroup }}</h1>

			{% set errors = [] %}

			{% for info in elementGroupData %}
				{% set error = info.error ?? '' %}

				{% if error %}
					{% set errors = errors | merge([ error ]) %}
				{% endif %}
			{% endfor %}

			{% if errors %}
				<div>
					<ul>
						{% for error in errors %}
							<li class="error">{{ error }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}

			{% for info in elementGroupData %}
				<div style="margin-bottom: 25px;">
					<h2 style="margin-bottom: 5px;">
						{{ info.name }}
					</h2>

					<table>
						<tr>
							<th style="text-align: left;">{{ "settings.fields-name"|t('auto-translator') }}</th>
							<th style="text-align: left;">{{ "settings.fields-handle"|t('auto-translator') }}</th>
						</tr>

						{% for tab in info.tabs %}
							{% set elements = tab.elements %}
								{% for element in elements %}
									{% set showField = false %}

									{% if element is instance of('craft\\fieldlayoutelements\\CustomField') %}
										{% set field = element.field %}
										{% set showField = field.getIsTranslatable %}

										{% if field.className in iterableFields and field.propagationMethod == "all" %}
											{% set showField = true %}
										{% endif %}

									{% elseif element is instance of('craft\\fieldlayoutelements\\entries\\EntryTitleField')  %}
										{% if element.translatable %}
											{% set showField = true %}

											{# TODO: find where the label for the title field is and add it here #}
											{% set field = {
												"name": element.label ?? "Title",
												"handle": "title",
											 } %}
										{% endif  %}
									{% endif %}

									{% if showField %}
										<tr>
											{{ _self.translatableField(field, info, settings) }}
										</tr>
									{% endif %}
								{% endfor %}
						{% endfor %}
					</table>

					<hr>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
{% endblock %}
