{% import '_includes/forms.twig' as forms %}

<h2>{{ 'Settings'| t('auto-translator') }}</h2>

{{ forms.lightswitchField({
	label: 'Enabled' | t('auto-translator'),
	instructions: 'Turn this off if you don\'t want auto translator to be active'| t('auto-translator'),
	id: 'enabled',
	name: 'enabled',
	on: settings.enabled,
	errors: settings.getErrors('enabled')
}) }}

{{ forms.selectField({
	label: 'Service',
	instructions: 'The service to use for the automatic translations'| t('auto-translator'),
	name: 'service',
	options: serviceOptions,
	value: settings.service,
	errors: settings.getErrors('service')
}) }}

{{ forms.checkboxGroupField({
	label: 'Source language(s)'| t('auto-translator'),
	name: 'fromLanguages',
	options: languageOptions,
	values: settings.fromLanguages,
	errors: settings.getErrors('fromLanguages')
}) }}

{{ forms.checkboxGroupField({
	label: 'Target language(s)'| t('auto-translator'),
	name: 'toLanguages',
	options: languageOptions,
	values: settings.toLanguages,
	errors: settings.getErrors('toLanguages')
}) }}
